<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context.xsd
	http://www.springframework.org/schema/tx
	http://www.springframework.org/schema/tx/spring-tx.xsd
	http://www.springframework.org/schema/aop
            http://www.springframework.org/schema/aop/spring-aop.xsd">

	<!-- 配置整合mybatis过程 -->
	<!-- <bean id="dataSource" -->
	<!-- class="org.springframework.jdbc.datasource.DriverManagerDataSource"> -->
	<!-- <property name="driverClassName"> -->
	<!-- <value>org.sqlite.JDBC</value> -->
	<!-- </property> -->
	<!-- <property name="url"> -->
	<!-- <value>jdbc:sqlite:/data/bus-dev.db</value> -->
	<!-- </property> -->
	<!-- </bean> -->

	<bean id="dataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName">
			<value>com.mysql.cj.jdbc.Driver</value>
		</property>
		<property name="url"
			value="jdbc:mysql://localhost:3306/test?useUnicode=true&amp;characterEncoding=UTF-8&amp;serverTimezone=UTC">
		</property>
		<property name="username" value="root">
		</property>
		<property name="password" value="root">
		</property>
	</bean>

	<!-- 3.配置SqlSessionFactory对象 -->
	<bean id="sqlSessionFactory"
		class="org.mybatis.spring.SqlSessionFactoryBean">
		<!-- 注入数据库连接池 -->
		<property name="dataSource" ref="dataSource" />
		<!-- 配置MyBaties全局配置文件:mybatis-config.xml -->
		<property name="configLocation"
			value="classpath:com/bus/mybatis/sqlMapConfig.xml" />
		<!-- 扫描entity包 使用别名 -->
		<property name="typeAliasesPackage"
			value="com.bus.mybatis.bean.table" />
		<!-- 扫描sql配置文件:mapper需要的xml文件 -->
		<property name="mapperLocations">
			<list>
				<value>classpath:com/bus/mybatis/mapper/*.xml</value>
				<value>classpath:com/bus/mybatis/mapper/*/*.xml</value>
			</list>
		</property>
		<property name="plugins">
			<array>
			</array>
		</property>
	</bean>

	<!-- 4.配置扫描Dao接口包，动态实现Dao接口，注入到spring容器中 -->
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<!-- 注入sqlSessionFactory -->
		<property name="sqlSessionFactoryBeanName"
			value="sqlSessionFactory" />
		<!-- 给出需要扫描Dao接口包 -->
		<property name="basePackage" value="com.bus.mybatis.dao" />
	</bean>

	<bean id="transactionManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<!-- 注入数据库连接池 -->
		<property name="dataSource" ref="dataSource" />
	</bean>

	<tx:advice id="txAdvice"
		transaction-manager="transactionManager">
		<tx:attributes>
			<tx:method name="do*" read-only="false"
				rollback-for="java.lang.Exception" />
			<tx:method name="save*" read-only="false"
				rollback-for="java.lang.Exception" />
			<tx:method name="update*" read-only="false"
				rollback-for="java.lang.Exception" />
			<tx:method name="*" propagation="SUPPORTS" read-only="true" />
		</tx:attributes>
	</tx:advice>

	<aop:config>
		<aop:pointcut id="pc"
			expression="execution(* com.bus.service.*..*.*(..))" />
		<aop:advisor pointcut-ref="pc" advice-ref="txAdvice" />
	</aop:config>

	<tx:annotation-driven
		transaction-manager="transactionManager" proxy-target-class="true" />
</beans>